<style>

.navbar {
	margin-bottom: 0;
	margin-radius: 0;
}
.portfolio_rows {
	background-color: #2f2f2f;
	padding: 25px;
}
.center {
	margin: auto;
	text-align: center;
}
.resume{
	margin: auto;
	background-color: #f2f2f2;
}
footer {
	background-color: #f2f2f2;
	padding: 25px;
}
.self-photo {
				height: 250px;
	@media only screen and (min-device-width: 500 px){
		.self-photo {
			height: 50px;
		}
	}
}
</style>
