
body {
	background: #202C59;
}
.calc_body {
	background: #9e453a;
	border-radius: 100px;
	margin-top: 5%;
	padding-top: 5%;
}
.screen {
	height: 50px;
	border-radius: 15px;
}
.calc_border {
	background: #d95d39;
}
.oj {
	background: #f18805;
}
.yellow {
	background: #f0a202;
}

.row {
	height: 100px;
}
button {
	justify-content: center;
	height: 50px;
	width: 60px;
	box-shadow: inset 1px 1px 50px  #ffab00;
}

#hide {
	visibility: hidden;
}
