


/**
 * index.scss
 * - Add any styles you want here!
 */

body {
	background: #f5f5f5;
}

#left_col {
	background-color: #FFFFFF;
}

#right_col {
	background-color: #FFFFFF;
}

#get_quote {
	color: white;
	background-color: green;
}



